  .main {
   text-align: center;
 }

 body {
   background-image: url('../img/bg.jpeg');
   background-size: cover;
 }

 a {
   color: darkblue;
 }
 a:hover {
   color: red;
 }
 a:visited{
   color: purple;
 }

 ul {
  text-align: center;
  list-style-type:none;
  margin:0;
  padding:0;
}

 li {
  margin: 20px;
  text-align: justify;
  display: inline;
 }

 h1 {
  color: #000080;
  font-weight: 600;
  font-style: oblique;
  font-size: 300%;
  font-family: fantasy;
  text-align: center;
 }
 h2 {
   text-align: center;
 }
 .language {
  position: absolute;
  left: 78em;
  top: 1px;
 }
 .teamimg{
   float: left;
   margin: 7px 7px 7px 7px ;
 }
 .news {
   text-align: center;
   float: left;
   border:  4px double black;
   width: 210px;
   height: 250px;
 }
  .projects {
    text-align: center;
    float: right;
   border:  4px double black;
   width: 210px;
   height: 250px;
  }
  footer {
   clear: both;
   margin-bottom: 0;
   margin-top: 300px;
  }
